﻿.select-sel {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #090808;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em; width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;

}

option:hover  {
    width: 40px;
    border: 1px solid #0a53be;
    border-radius: 15px;
      background-color: #a8a7a7;
  }
.select-lan {
    width: auto!important;
    font-size: 16px!important;
    font-family: sans-serif!important;
    font-weight: 700!important;
    color: #090808!important;
    line-height: 1.3!important;
    padding: 7px 7px 7px 7px;
    max-width: 100%!important;
    box-sizing: border-box!important;
    margin: 0!important;
    border: none!important;
    appearance: none!important;
    background-color: #fff!important;
    overflow: initial!important;
}
.icon-ok {
    background: url('https://icons.iconarchive.com/icons/hopstarter/flag-borderless/16/Ukraine-icon.png') no-repeat;
    background-size: 20px;
    padding-left: 23px;
    margin-bottom: 3px;
    background-position: 0 1px;
}
.icon-en {
    background: url('https://icons.iconarchive.com/icons/icons-land/vista-flags/16/English-Language-Flag-1-icon.png') no-repeat;
    background-size: 20px;
    padding-left: 23px;
    background-position: 0 1px;
}
select.icon-ok,
select.icon-en {
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 16px;
    background-position: 0 1px;
}

table {
    border: 2px solid black;
    padding: 10px;
    border-spacing: 0;
    width: 96%;
    margin: 30px 30px 30px 12px;
}
th {
    cursor: pointer;
}
th, td {
    text-align: center;
    /*padding: 12px;*/
    padding: 8px 3px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}




.lang{
    margin-top: 15px;
    width: auto;
    position: static;
    right: 15px;
}

.points {
    color: #0c4128;
    text-align: center;
}
.numbers {
    color:black;
    font-size: 18px;
    text-shadow: 3px 3px 4px #525252;
}

.search {
    margin-left: 100px;
    margin-top: 15px;
}
.search-input {
    margin-left: 10px
}
.user {
    margin-left: 100px;
    margin-top: 15px;
}



.about {
    margin-left: 30px;
    margin-right: 30px;
    width: auto;

}
.about1 {
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    margin-left: 30px;
    width: 1200px;
    text-align: left !important;
    list-style-type: disc;
}
.about-h1 {
    font-size: 40px;
    font-family: 'Patrick Hand', cursive;
    width: auto;
    text-align: center;
}
.about-hr {
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    width: auto;
}
.about-h2 {
    font-size: 22px;
    font-family: 'Patrick Hand', cursive;
    text-align: left;
    width: auto;
    margin-right: 0;
}
.about-ol {
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    margin-left: 30px;
    text-align: left !important;
    list-style-type: disc;
}
.about-p {
    font-size: 22px;
    font-family: 'Patrick Hand', cursive;
    margin-bottom: 0;
}
.about-li{
    font-size: 19px;
    font-family: 'Patrick Hand', cursive;
    margin-left: 30px;
    text-align: left !important;
    list-style-type: disc;
}
.about-ul{
    font-size: 21px;
    font-family: 'Patrick Hand', cursive;
    margin-left: 30px;
    text-align: left !important;
    list-style-type: disc;
}

.button-update {
    font-size: 20px;
    color: #0a53be;
    width: 200px;
    margin-top: 30px;
}
.button-table {
    color: #0050d2;
    font-size: 17px;
    text-shadow: 1px 2px 3px rgba(168, 168, 168, 0.84);
}
.button-reg1 {
    color: black;
    margin-right: 10px;
}
.button-reg2 {
    color: black;
    margin-left: 10px;
}
.session{
display: flex;
    justify-content: left;
    font-size: 12px;
    width: 50px;
    margin: 15px 15px;
    text-align: center;
}
.loginfo{
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: max-content;

    padding: 5px;
    background: #1472FFFF;
    color: white;
    text-align: left;
    border-radius: 15px;
    border: 5px inset #084298;
}
.loginfo:hover{
    background: #084298;
}

.loginfo-context{

    margin-left: 5px;
    font-size: 16px;
    text-shadow: 3px 4px 5px #525252;
}
.admin-page{
    display: flex;
    justify-content: center;
    font-family: 'Patrick Hand', cursive;
    margin-top: 100px;
}
.border-form{
    border: 3px solid #525252;
}
.lan{
    display: flex;
}

.contentt {
    margin-top: 250px;
    width: auto;
}




.button-reg-btn {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Patrick Hand', cursive;
    background: #337AB7;
    cursor: pointer;
    border: 2px solid #BFE2FF;
    transition: transform 0.2s ease-out, padding 0.2s ease-out;
    overflow: hidden;
}
.button-reg-btn:hover,
.button-reg-btn:active,
.button-reg-btn:focus {
    color: #FFF;
    transform: rotate(-1deg);
    padding: 12px 50px 12px 10px;
}
.button-reg-btn:before {
    content: "\27A4";
    position: absolute;
    right: -30px;
    color: #092e4b;
    transition: right 0.5s cubic-bezier(.97,.01,.97,.55);
}
.button-reg-btn:hover:before,
.button-reg-btn:active:before,
.button-reg-btn:focus:before {
    right: 10px;
}


.footer-session{
    display: block;
    justify-content: center;
    border:5px double brown;
    border-radius: 30px;
}
.footer-session-h{
    margin-top: 5px;
    font-family: 'font-monospace', serif;
}





.ukraine{
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 30px;
    padding: 12px 30px;
    color: #171616;
    text-transform: uppercase;
    font-family: 'Patrick Hand', cursive;
    background: linear-gradient(-180deg, rgb(0, 91, 187) 50%, rgb(255, 240, 0) 50%);
    cursor: pointer;
    transition: transform 0.2s ease-out, padding 0.2s ease-out;
    /*overflow: hidden;*/
    border: 2px solid #BFE2FF;
    border-radius: 10px;
}

.ukraine:hover,
.ukraine:active,
.ukraine:focus{
    color: rgb(44, 48, 49);
    border-radius: 29px;
    transform: translateX(0px) rotate(10deg) translateY(0px);
    animation:bounce .9s;
    padding: 12px 10px 12px 50px;
}
@keyframes bounce {
    0%{ transform:translate(0); }
    25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg);   }
    50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
    75%{ transform:rotateX(-200deg)  rotate(8deg) translateY(-5px); }
    100%{ transform:rotateX(20deg)  rotate(10deg) translateY(2px);  }
}



.cards-img{
    width: 30px;
    border-radius: 50px;
}

.genderStyle{
    display: flex;
    justify-content: center;
}
.genderMen{
    margin-left: 15px;
}
.genderWoman{
margin-left: 20px;
}







