﻿.wrap {
    max-width: max-content;
    margin: 1px;
    padding: 3px;
}
.button {
    background: #000;
    padding: 5px 10px;
    color: #fff;
    border-radius: 10px;
    border: yellow 5px solid;
}

.button [type="checkbox"] {
    position: absolute;
    left: -9999px;
}

.button [type="checkbox"] + span::before {
    content: 'off';
}

.button [type="checkbox"]:checked + span::before {
    content: 'on';
}
